.row
  %ul.list-group
    %li.list-group-item
      Total Time:
      = Time.at(@activities.map(&:duration).sum).utc.strftime("%H:%M:%S")

.row
  .col-xs-12
    %canvas#canvas{ width: '125', height: '125', style: 'margin-left: 25px;'}
    %ul.list-group
      - @data.each do |datum|
        %li.list-group-item{ style: "background-color: #{datum[:color].gsub('1)', '0.4)')}; color: #{datum[:color]}" }
          %span.tag-ellipsis= datum[:tag]
          \-
          = Time.at(datum[:value]).utc.strftime("%H:%M:%S")

:coffee
  renderData = ->
    if $("#canvas").length > 0
      data = #{@data.to_json}
      options = {}
      $("#canvas").width(125)
      $("#canvas").height(125)
      new Chart($("#canvas").get(0).getContext("2d")).Pie(data,options);
  $ ->
    $(document).on 'page:load', renderData
    interval = setInterval ->
      if renderData
        renderData()
        clearInterval(interval)
    , 100
