- if @activity
  %center
    %h4
      = @activity.name || 'noname'
      %br
      %small since:
      %br
      = time_ago_in_words @activity.started_at
    = link_to 'Stop!', finish_smartwatch_path(id: @activity), class: 'btn btn-danger', method: :patch, remote: true
  :coffee
    $ ->
      setInterval ->
        Turbolinks.visit window.location
      , 60000
- else
  %center
    %h3
      No running activity. Start one, dude!

:coffee
  $ ->
    el = document.getElementById('body')
    Hammer(el).on 'swipeleft', (event) ->
      console.log 'swipeleft'
      Turbolinks.visit "#{analytics_smartwatch_path}"
    Hammer(el).on 'swiperight', (event) ->
      console.log 'swiperight'
      Turbolinks.visit "#{activities_smartwatch_path}"

