.row
  %h1.page-header Track Activity
  = form_for @activity, html: { method: :put, remote: true } do |f|
    .form-group
      = f.label :name
      %br/
      = f.text_field :name, class: 'form-control', "data-attribute" => "name"
    .form-group
      = label_tag :notes
      %br/
      = f.text_area :notes, class: 'form-control', "data-attribute" => "notes"
    .form-group
      = f.submit "Save", class: 'btn btn-primary'
