.row
  %h1.page-header Overview
  %table.table.table-hover
    %thead
      %tr
        %th #
        %th Name
        %th.hidden-xs Tagged
        %th.visible-lg Started at
        %th.visible-lg Finished at
        %th Duration
        %th.hidden-xs Note
        %th Finish
        %th Delete
    %tbody
      - @activities.each_with_index do |activity, i|
        %tr
          %td= i+1
          %td= link_to activity.name, edit_activity_path(activity)
          %td.hidden-xs= activity.tag_list
          %td.visible-lg= l(activity.started_at)
          %td.visible-lg= l(activity.finished_at) if activity.finished_at
          %td
            - if activity.finished?
              = Time.at(activity.duration).utc.strftime("%H:%M:%S")
          %td.hidden-xs= activity.notes
          %td
            - unless activity.finished_at
              = link_to activity_finish_path(activity), method: :patch, remote: :true do
                %i.glyphicon.glyphicon-ok
          %td
            = link_to activity_path(activity), method: :delete, remote: true do
              %i.glyphicon.glyphicon-remove
