.row
  %h1.page-header Overview
  %table.table.table-hover
    %thead
      %tr
        %th #
        %th Name
        %th Tagged
        %th Started at
        %th Finished at
        %th Duration
        %th Note
    %tbody
      - current_user.activities.each_with_index do |activity, i|
        %tr
          %td= i+1
          %td= activity.name
          %td= activity.tag_list
          %td= activity.started_at
          %td= activity.finished_at
          %td
            - if activity.finished_at && activity.started_at
              = ((activity.finished_at - activity.started_at)/3600).to_i
              h
          %td= activity.notes