!!!
%html
  %head
    %title TimeTracker
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui' }
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body

    #flash-messages
      - if flash[:notice]
        %p.alert.alert-info.notice
          %button{ type: "button", class: "close", "data-dismiss" => "alert", "aria-hidden" => "true" } &times;
          =notice
      - if flash[:alert]
        %p.alert.alert-danger
          %button{ type: "button", class: "close", "data-dismiss" => "alert", "aria-hidden" => "true" } &times;
          =alert

    .navbar.navbar-inverse.navbar-fixed-top{role: "navigation"}
      .container-fluid
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to "TimeTracker", root_path, class: 'navbar-brand'
        .navbar-collapse.collapse
          - if current_user
            %ul.nav.navbar-nav.navbar-right
              %li
                = link_to "Track Activity", new_activity_path
              %li.visible-xs
                = link_to 'Analytics', analytics_path
              %li
                = link_to "Log Out", destroy_user_session_path, method: :delete
          - else
            %ul.nav.navbar-nav.navbar-right
              %li
                = link_to "Sign in", new_user_session_path
              %li
                = link_to "Sign Up", new_user_registration_path
          = form_tag activities_path, class: 'navbar-form navbar-right', method: :get do
            = text_field_tag :q, params[:q], placeholder: "Search...", class: 'form-control'
    .container-fluid
      .row
        .col-sm-3.col-md-2.sidebar
          - if current_user
            %ul.nav.nav-sidebar
              %li{ class: "#{'active' if request.fullpath == activities_path}" }
                = link_to 'Overview', activities_path
              %li{ class: "#{'active' if request.fullpath == analytics_path}" }
                = link_to 'Analytics', analytics_path
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
          = yield
