!!!
%html
  %head
    %title TimeTracker
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui' }
    = stylesheet_link_tag    'smartwatch', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #smartwatch
      .navbar.navbar-inverse.navbar-fixed-top{role: "navigation"}
        .container-fluid
          .navbar-header
            %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            = link_to "TimeTracker", smartwatch_path, class: 'navbar-brand'
          .navbar-collapse.collapse
            %ul.nav.navbar-nav.navbar-right
              %li= link_to 'Show all', activities_smartwatch_path
              %li= link_to 'Analytics', analytics_smartwatch_path
              - current_user.activities.map(&:tag_list).flatten.uniq.each do |tag|
                %li
                  = link_to start_activity_smartwatch_path(tag: tag), method: :patch, remote: true do
                    %span.text-success Start:
                    = tag

      #content
        = yield
